body {
    font-family: Arial, Helvetica, sans-serif;
    color: #898886;
}

h1 {
    color: #99cb37;
    font-weight: lighter;
}

h3 {
    color: #99cb37;
    text-align: center;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

ul {
    list-style-type: none;
    
}

div.review {
    display: none;
}

.images {
    display: flex;
}

.imgContainer {
    flex: 1;
}